@font-face {
    font-family: 'Morabba';
    src: url('/assets/fonts/Morabba-Medium.eot');
    src: url('/assets/fonts/Morabba-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Morabba-Medium.woff2') format('woff2'),
        url('/assets/fonts/Morabba-Medium.woff') format('woff'),
        url('/assets/fonts/Morabba-Medium.ttf') format('truetype'),
        url('/assets/fonts/Morabba-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'Morabba';
}